.productCard {
  width: 260px;
  border-radius: 16px;              /* Bo góc */
  box-shadow: 0 8px 20px rgba(0,0,0,0.1); /* Đổ bóng */
  overflow: hidden;
  background: #fff;
  transition: all 0.3s ease;
}

.productCard:hover {
  transform: translateY(-10px);     /* Hover nổi lên */
  box-shadow: 0 16px 30px rgba(0,0,0,0.15);
}

.productImage {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.productInfo {
  padding: 16px;
  text-align: center;
  color: black;
}

.productName {
  font-size: 18px;
  margin: 8px 0;
}

.productPrice {
  color: #e63946;
  font-weight: bold;
  margin-bottom: 12px;
}

.addBtn {
  padding: 10px 16px;
  border: none;
  border-radius: 8px;
  background-color: #457b9d;
  color: #fff;
  cursor: pointer;
  transition: background 0.3s;
}

.addBtn:hover {
  background-color: #1d3557;
}
